<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html


RewriteRule ^artikel/page/(-?[0-9a-zA-Z]+) artikel.php?page=$1 
RewriteRule ^baca-produk/(-?[0-9a-zA-Z]+) baca-produk.php?id=$1 

	

</IfModule>